<div class="navbar-back">
  <div id="div-nav-head-2 ">
    <ul id="UL_nav"><li>
      <li class='nav-page-li'>  <%= link_to "-Contacts-", users_contacts_path, id: "H2_3", class: 'navbar-page'  %></li>
      <li class='nav-page-li'>  <%= link_to "-Add Contact-", new_users_contact_path , id: "H2_3", class: 'navbar-page' %></li>
      <li class='nav-page-li'> <%= link_to "-Import From Hotmail-", '/contacts/hotmail' , id: "H2_3", class: 'navbar-page' %></li>
      <li class='nav-page-li'> <%= link_to "-Import From Gmail-", '/contacts/gmail'  , id: "H2_3", class: 'navbar-page'%></li>
    </ul>
  </div>
</div>
