
<h1>Newly Importanted Contacts </h1>
<% if @new_contacts.count > 0 %>
  <table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @new_contacts.each do |contact| %>
  <tr>
    <td><%= contact.email %></td>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.phone_number %></td>
  </tr>
  <% end %>
  </table>
<% end %>
