<div class="panel">
  <div class='row'>

    <div class="small-12 medium-7 medium-centered columns">
      <h1>Learn what Lead Mailer can do for <strong>Your</strong> business</h1>
      <iframe width="560" height="315" src="//www.youtube.com/embed/eMFbrxkB12g?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class='row'>
    <div class="small-12 medium-7 medium-centered">
     <%= link_to 'login', user_session_path, class:'button' %>
    </div>
  </div>
</div>
