<div class="navbar-back">
  <div id="div-nav-head-2 ">
    <ul id="UL_nav"><li>
      <li class='nav-page-li'>   <%= link_to "-New Campaign-", new_campaign_path,  id: "H2_3", class: 'navbar-page'  %></li>
      <li class='nav-page-li'>  <%= link_to "-Campaigns-", campaigns_path , id: "H2_3", class: 'navbar-page' %></li>

    </ul>
  </div>
</div>
