<%= link_to "Create New Campaign", new_campaign_path %>

<table>
  <tr>
    <td>Title</td>
    <td>Purpose</td>
    <td>History</td>
  </tr>
  <% @campaigns.each do |campaign| %>
    <tr>
      <td>
        <%= campaign.title %>
      </td>
      <td>
        <%= campaign.purpose %>
      </td>
      <td>
        <%= link_to "See results", campaign_path(campaign) %>
      </td>
    </tr>
  <% end %>
<table>
