
<div class="row">
  <div class="small-12 medium-12 columns">
    <table>
      <tr>
        <td>Title</td>
        <td>Purpose</td>
        <td>History</td>
        <td>Contacts</td>
      </tr>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td>
            <%= campaign.title %>
          </td>
          <td>
            <%= campaign.purpose %>
          </td>
          <td>
            <%= link_to "See results", campaign_path(campaign) %>
          </td>
          <td>
            <%= link_to "Add contacts", edit_campaign_path(campaign) %>
          </td>
        </tr>
      <% end %>
    <table>
  </div>
</div>
