<div id='email-preview'>
  <%= render @email_template, collection: @material %>
</div>

<% @emailtemplates.each do |etemps| %>
  <%= etemps.filename %> -
  <%=  etemps.title %> -
  <%= link_to "Customize", new_material_path(etemps) %>
<% end %>

